.btn-circle {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 18px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    float: bottom;

}

.btn-circle:hover {
    padding: 30px;
}

#bg {
    background-image: url("welcome.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
