{% extends 'base.html' %}

{% block header %}
    <h1>Edit "{{ todo['title'] }}"</h1>
{% endblock %}

{% block body %}

    <form class="form-horizontal " method="post">
        <div class="form-control">
            <label for="title">Title:</label>
        <input name="title" id="title"
               value="{{ todo['title'] }}" required>
        </div>
        <div class="form-control">
            <label for="task">Task:</label>
            <br>
        <textarea name="task" id="task">{{ todo['task'] }}</textarea>
        </div>
        <div class="form-control">
            <label for="date">Date:</label>
        <input type="datetime-local" name="date" id="date" value="{{ todo['date'][:10] + "T" + todo['date'][11:16] }}">
        </div>

        <input type="submit" value="Save">
    </form>
    <hr>
    <form action="{{ url_for('todo.delete', id=todo['id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>

{% endblock %}