{% extends 'base.html' %}

{% block header %}
    <h1>Welcome {{ username }}</h1>
{% endblock %}

{% block body %}
    <h4 class="display-4">TODO TASKS</h4>
    <p>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col"><input type="checkbox" name="all"/></th>
            <th scope="col">Task</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
        </tr>
        </thead>
        {% for id, title, task, date in todos %}
            <tr>
                <td><input type="checkbox" name=f"name{{ id }}"/></td>
                <td><a href="/todo/{{ id }}/edit">{{ title }}</a></td>
                <td>{{ date.split(" ")[0] }}</td>
                <td>{{ date.split(" ")[1] }}</td>
            </tr>
        {% endfor %}
    </table>
    </p>
    <div>
        <a type="button" class="btn btn-warning btn-circle" href="/todo/create"><h1>+</h1></a>
    </div>
{% endblock %}